.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
    }

    .slick-slider {
        min-height: 550px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        img {
            object-fit: cover;
        }
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;

        outline: none;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }

    .slick-dots {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            &:nth-child(2) {
                margin: 0 15px;
            }
            &.slick-active {
                button {
                    background-color: #c70101;
                }
            }
        }
        button {
            width: 14px;
            height: 14px;
            outline: none;
            background-color: transparent;
            border: 1px solid #c70101;

            font-size: 0;
        }
    }
}